/* 
   Estilização base para o botão padrão (.button)
   Esta classe é aplicada a todos os botões, independente do estilo específico (primary, secondary, outline, etc.)
*/
.button {
    border-radius: 18px; /* Borda arredondada para um visual moderno */
    border: none; /* Remove a borda padrão do botão */
    column-gap: 10px; /* Espaçamento horizontal entre elementos dentro do botão (ex: texto e ícone) */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    display: flex; /* Usa flexbox para alinhar o conteúdo do botão */
    font-size: 18px; /* Define o tamanho da fonte do texto dentro do botão */
    font-weight: 600; /* Deixa o texto do botão um pouco mais "negrito" para melhor legibilidade */
    padding: 25px 50px; /* Define um espaçamento interno grande para um botão robusto */
    transition: background-color 0.3s ease; /* Suaviza a transição da cor de fundo ao passar o mouse */
}

/* ========================= */
/* ESTILIZAÇÃO PARA VARIAÇÕES */
/* ========================= */

/* PRIMARY (Botão Azul) */
.button.primary {
    background-color: #0C70F2; /* Cor de fundo azul */
    color: #FFF; /* Texto branco */
}

/* Quando o usuário passa o mouse sobre o botão primário */
.button.primary:hover {
    background-color: #0056b3; /* Azul escuro para dar efeito de interação */
}

/* SECONDARY (Botão Preto) */
.button.secondary {
    background-color: #1D1D1D; /* Preto para um estilo mais sóbrio */
    color: #FFF; /* Texto branco */
}

/* Quando o usuário passa o mouse sobre o botão secundário */
.button.secondary:hover {
    background-color: #4D5053; /* Cinza escuro para dar um efeito de realce */
}

/* OUTLINE (Botão com borda azul e fundo branco) */
.button.outline {
    background-color: #fff; /* Fundo branco */
    border: 2px solid #0C70F2; /* Borda azul */
    color: #0C70F2; /* Texto azul */
}

/* Quando o usuário passa o mouse sobre o botão outline */
.button.outline:hover {
    background-color: #0C70F2; /* Fundo azul */
    color: #FFF; /* Texto branco para contraste */
}

/* ========================= */
/* ESTILIZAÇÃO PARA BOTÃO DESABILITADO */
/* ========================= */

/* Define o estilo para botões desabilitados (estado `disabled`) */
.button:disabled, .button:disabled:hover {
    background-color: #ccc; /* Cinza claro para indicar que não está ativo */
    color: #666; /* Texto cinza escuro */
    pointer-events: none; /* Desativa interações como clique ou hover */
}
