*{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    margin: 0;
}

body{
    background-color: #f2f2f2 !important;
}

nav{
    background-color: #0C70F2;
}

header{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    margin-bottom: 10rem;
}

.header-principal > h2{
    font-size: 5rem;
    font-weight: 800;
    padding: 8rem 1rem;
    /* margin-right: 10rem;
    margin-left: 10rem; */

}

.image-principal{
    padding: 2rem 0rem 0rem 10rem;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario{
    background-color: #fff;
    border-radius: 3rem;
    width: 85.9rem;
    height: 93rem;
    font-size: 2.5rem;
    padding: 12rem 10rem 0rem 10rem;
    margin-bottom: 5rem;
}

form div > .formTitle{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

form div > .formInput{
    margin-bottom: 2rem;
    padding-left: 1rem;
    border-radius: 1rem;
    height: 5.5rem;
    background-color: #f2f2f2;
}

form button{
    margin-top: 8rem;
}

.introducao {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: 22%;
    margin-top: 7rem;
}

.introducao_imagem{
    margin-top: -1rem;
    margin-left: 3rem;
}

.buscacep_texto{
    margin-top: 100px;
    margin-left: 10%;
}

.buscacep_imagem{
    margin-top: 100px;
    margin-left: 3%;
}

.resultados{
    display: grid;
    place-items: center;
}

.buscacepsuperior{
    display: flex;
    flex-flow: row;
    place-items: center;
    justify-content:space-evenly;
    /* margin-left: 22%; */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #0C70F2;
    color: white;
    height: 40px;
    width: 650px;
    font-size: 13px;
    font-family: 'inter';
}

.buscacepinferior{
    display: flex;
    flex-flow: row;
    place-items: center;
    justify-content:space-evenly;
    /* margin-left: 22%; */
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: white;
    height: 40px;
    width: 650px;
    font-size: 13px;
    font-family: 'inter';
    align-items: center;
}

.buscaInterno{
    flex: 1; 
    box-sizing: border-box; 
    padding: 10px; 
    text-align: center; 
}

.resultadotempopesquisa{
    border: 1px solid #0C70F2;
    border-radius: 16px;
    background-color: white;
    height: 40px;
    width: 650px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    font-family: 'inter';
    justify-content: center; 
    align-items: center;
}

footer{
    background-color: #0C70F2;
    color: #fff;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: right;
}

footer h3{
    padding: 3rem 3rem 3rem
}
